<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">*coolWebsiteName*</div>
    <div class="list-group list-group-flush">
      <a href="/category/tutorials" class="list-group-item list-group-item-action bg-light">Tutorials</a>
      <a href="/category/fiction" class="list-group-item list-group-item-action bg-light">Fiction</a>
      <a href="/category/poems" class="list-group-item list-group-item-action bg-light">Poems</a>
      <a href="/category/arcticles" class="list-group-item list-group-item-action bg-light">Articles</a>

    </div>
  </div>